<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>listen local</title>
  <link rel="stylesheet" type="text/css" href="css/leaflet.css">
  <link rel="stylesheet" type="text/css" href="lib/normalize.css">
  <link rel="stylesheet" type="text/css" href="utils/rdio-utils.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/listenlocal.css">
  <script src="lib/jquery-1.11.1.min.js"></script>
  <script src="lib/leaflet.js"></script>
  <script src="https://www.rdio.com/api/api.js?client_id=fDFrx0ROVLxiPYvN_q3gmQ"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script src="lib/modernizr.touch.js"></script>
  <script src="lib/underscore-1.4.4.min.js"></script>
  <script src="utils/rdio-utils.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

  <script id="album-template" type="text/template">



    <div class="album" data-key="<%= key %>">

      <div class="icon hidden-xs" style="background-image: url(<%= icon %>)">
        <div class="buttons">
          <span class="list-play"><img src="img/playart.png" style="margin: 50px;"></span>
            
          <!--<a href="http://www.rdio.com<%= url %>" target="_blank" class="site btn">View on Rdio.com</a>
          <a href="<%= appUrl %>" target="_blank" class="app btn">View in Rdio app</a>-->
        </div>          
      </div>
      <div class="albumInfo hidden-xs">
        <div class="title label list-label-title">
          <a href="http://rdio.com<%= url %>" target="_blank"><%= name %></a>
        </div></br>
        <div class="artist label list-label-other">
          <a href="http://rdio.com<%= artistUrl %>" target="_blank"><%= artist %></a>
        </div></br>
        <div class="artist label list-label-other">
          <a href="http://rdio.com<%= albumUrl %>" target="_blank"><%= album %></a>
        </div>
      </div>

      <div class="icon visible-xs" style="background-image: url(<%= icon %>)">
        <div class="buttons">
          <span class="list-play"><img src="img/playart.png" style="margin: 50px;"></span>
            
          <!--<a href="http://www.rdio.com<%= url %>" target="_blank" class="site btn">View on Rdio.com</a>
          <a href="<%= appUrl %>" target="_blank" class="app btn">View in Rdio app</a>-->
        </div>          
      </div>
      <div class="albumInfoMobile visible-xs">
        <div class="title label list-label-title">
          <a href="http://rdio.com<%= url %>" target="_blank"><%= name %></a>
        </div></br>
        <div class="artist label list-label-other">
          <a href="http://rdio.com<%= artistUrl %>" target="_blank"><%= artist %></a>
        </div></br>
        <div class="artist label list-label-other">
          <a href="http://rdio.com<%= albumUrl %>" target="_blank"><%= album %></a>
        </div>
      </div>

      <div class="mobile-buffer visible-xs"><br /><br /></div>

    </div>


    </br>
  </script>
  
</head>
<body>



  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container" style="color: #909397; height: 95px; width: 320px; margin: 0 auto; text-align: center; padding-top: 8px;">


      <form class="search" >Find artists from&nbsp;</br>
        <input type="text" value="Detroit, MI" size="20" placeholder="Champaign, IL"/>
        <button class="btn btn-danger" style="margin-top: -4px;" type="submit">Go</button>
        <span class="error"></span>
      </form>

      <div class="current-user"><!--User Photo--></div>
      <div class="current-user-name" style=""><!--User Name--></div>
      <button class="btn btn-success login-button">Login</button>

      <div id="local">listen local</div>
    </div>
  </nav>

  <!--Buffer for the top navbar-->
  <div style="height: 20px;"></div>

  <div id="map" class="map"></div>

  <!--  <div class="results" style="width: 70%; margin-left: 15%;"></div>-->
  <div class="results"></div>


  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container" style="width:300px; margin: 0 auto; text-align: center;">
      <div>
        <div class="trackinfo">
          <div class="section">
            <!--
            <div class="track label">Not Playing</div>
            <div class="label"> - </div>
            <div class="artist label"></div></br>
            -->
            <span class="track" style="color: #FFF;">Not Playing</span>
            <span class="dash" style="color: #FFF;"></span>
            <span class="artist" style="color: #FFF;"></span></br>

            <!--
            <div class="navbar-right">
              <img class="icon" src="img/noalbum.png">
            </div>
            -->

          </div>

          <div id="playerControls" class="section">
            <button class="prev" id="prevButton" type="button" style="color: #FFF; font-size: 20px; padding-right: 15px; padding-left: 15px;">
              <span class="glyphicon glyphicon-fast-backward"></span>
            </button>
            <button class="play" id="playButton" type="button" style="color: #FFF; font-size: 30px; padding-right: 15px; padding-left: 15px;">
              <span class="glyphicon glyphicon-play"></span>
            </button>
            <button class="next" id="nextButton" type="button" style="color: #FFF; font-size: 20px; padding-right: 15px; padding-left: 15px;">
              <span class="glyphicon glyphicon-fast-forward"></span>
            </button>
          </div>

        </div>
      
      </div>
    </div>
  </nav>



  <div style="height: 205px;"></div>

  <!-- Modal -->
  <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">About</h4>
        </div>
        <div class="modal-body">
          <img src="img/us.png"/>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
