/* --------- */
.header {
  overflow: hidden;
  padding: 10px;
  /*background: #ddd;*/
}

.header .section {
  float: left;
  margin: 0 20px 0 0;
}

.section .icon {
  width: 50px;
  height: 50px;
  margin: 0 0 4px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header button {
  /*display: block;*/
  /*margin: 0 0 10px 0;*/
  background-color: transparent;
  border: 0;
}

.header .label {
  margin: 0 0 10px 0;
}

/* --------- */
.search {
  padding: 10px;
}

/* --------- */
.results {
  padding: 10px;
  text-align: center;
}

.albumInfo {
  background-color: white;

  display: inline-block;
  position: absolute;
  margin: -205px 0 0 100px;
  width: 600px;
  height: 200px;
  opacity: .75;
}

.album {
  position: relative;
  margin: 0 20px 20px 0;
  width: 200px;
  height: 240px;
}

.album .icon {
  width: 200px;
  height: 200px;
  margin: 0 0 4px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.album .label {
  text-align: left;
  height: 1.3em;
  white-space: nowrap;
  text-overflow: ellipsis;
  /*overflow: hidden;*/
}

.album .buttons {
  z-index: 10; 
  text-align: center; 
}

.album.hover .buttons {
  display: block;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #46494d;
}


#local {
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 32px;
  padding: 10px;
}

#playerControls {
  left: 0;
  padding-left: 20px;
}

#poweredby {
  position: fixed;

  top: 0px;
  right: 0px;
}

#poweredby a {
  display: block;
  font-size: 11px;
  line-height: 24px;
  padding: 0 10px;
  background: #32353a;
  color: #909397;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  text-decoration: none;
}

#poweredby a:hover {
  color: #fff;
}

.prev, .play, .next, .list-play {
  opacity: 0.7;
}


.prev:hover, .play:hover, .next:hover, .list-play:hover {
  opacity: 1.0;
}

.search_bar {
  padding-top: 20px;
  font-size: 20px;
}

.map, map:hover {
  position:fixed; 
  top: 0; 
  height: 100%; 
  width: 100%; 
  opacity: 0.9;
  cursor: default;
}

.icon {
  cursor: pointer;
}

.list-label-title {
  font-size: 18px;
  padding: 5px 5px 0px 5px;
  margin-right: 90%;
  margin-left: 10px;
  margin-top: 10px;
}

.list-label-other {
  font-size: 16px;
  padding: 5px 5px 0px 5px;
  margin-right: 90%;
  margin-left: 10px;
  margin-top: 10px;
}

.label > a {
  color: #000;
}

.label > a:hover {
  color: #DDD;
}

.label > a, .label > a:hover  {
  text-decoration: none;
}

.list-play {
  line-height: 200px;
  font-size: 24px;

  -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,1.0));
  filter: drop-shadow(0px 0px 10px rgba(0,0,0,1.0));
}

.login-button {
  position: fixed;
  right: 0px; 
  top: 25px;
  margin-right: 7px;
}

.current-user {
  position: fixed; 
  top: 0px; 
  right: 0px; 
  margin-top: 25px;
  margin-right: 7px;
  height: 50px; 
  width: 50px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

.current-user-name {
  color: #909397;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  text-decoration: none;
  font-size: 11px;
  position: fixed; 
  text-align: right;
  top: 0px; 
  right: 0px; 
  margin-top: 77px;
  margin-right: 7px;
}
